body {
  margin: auto;

width: 500px;


}

#bloc_page {
  padding: 0 30px;
  margin: auto;
  
}

header {
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  position: relative;
}

header img {
  width: 125px;
  margin-top: 15px;
}

Nav {
  width: 500px;
  margin-top: 45px;
  margin-left: -30px;
}

header ul {
  padding-inline-start: 0;
  /*définit le décalage avec le début de la zone de remplissage d'un élément*/
  margin: 0;
}

nav ul li:nth-child(1) {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid #0065FC;
}

nav ul li:nth-child(2) {
  width: 50%;
  text-align: center;
  border-bottom: 3px solid #F2F2F2;
  padding: 0 0px 25px 0px;
}

nav ul li:nth-child(2):hover {
  border-top: 0;
  padding-bottom: 25px;
  border-bottom: 3px solid #0065FC;
}

nav ul li:nth-child(3) {
  position: absolute;
  top: 30px;
  right: 0px;
  font-weight: bold;
}

#liHebergements {
  border-top: 0;
  font-size: 20px;
}

#hoverNavActivites {
  font-size: 20px;
}

#hoverNavActivites:hover {
  border-top: none;
  padding-top: 25px;
  color: #0065FC;
}

.invisible {
  display: inline-block!important;
}

#li-Inscription {
  color: #0065FC;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: initial;
}

/*...........................fin header................*/

h1 {
  font-size: 31px;
}

h1+p {
  font-size: 22px;
  margin: 10px 0 35px 0px;
}

#inputSearch {
  width: 100%;
  font-size: 20px;
}

#button {
  width: 60px;
  height: 50px;
  border-radius: 15px;
}

.fa-search
/*invisible*/

  {
  display: flex;
  justify-content: center;
}

#barreDeRecherche span {
  display: none;
}

#barreFiltre {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
}

#filtresTitre {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin: 20px 0 15px 0;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 55px;
  padding: 14px;
  margin-right: 10px;
}

.rectangleFiltre {
  margin-left: 0px;
  margin-right: 17px;
  padding-right: 23px;
  margin-top: 0;
  font-size: 24px;
}

.rectangleFiltre:hover {
  background-color: #F2F2F2;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 5px black;
  margin-top: 3px;
}

.fa-info {
  color: #0065FC;
  background-color: white;
  border: 1px solid silver;
  width: 18px;
  height: 17px;
  border-radius: 100%;
  padding: 6px;
  margin-right: 20px;
}

#Paragraphe-point-I {
  display: flex;
  margin-bottom: 40px;
}

#Paragraphe-point-I span {
  font-size: 21px;
  width: 100%;
}

/* ........................corps de la page section Hébergement  ..................... */

#Hebergements {
  margin: 0;
}

#divhébergement {
  background-color: inherit;
  margin: 0px;
}

#h2Section2 {
  font-size: 27px;
  margin: 40px 0 20px 0;
}

.dimensionArticleHebergement {
  width: 403px;
  height: 228px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 3px #0000002e;
  padding: 4px;
}

.aHref-de-section-ou-Aside {
  color: inherit;
  text-decoration: none;
}

.imgFigure {
  height: 137px;
  width: 100%;
}

h3 {
  font-size: 23px;
}

#aHref-afficherPlus h3 {
  font-size: 20px;
}

/*........aside Hébergement................*/

aside {
  border-radius: 0px;
  padding: 30px;
}

#div-H2-Aside h2 {
  font-size: 27px;
}

.fa-chart-line {
  font-size: 27px;
}

.dimensionArticleAside {
  height: 145px;
}

.imgAside {
  width: 132px;
  height: 145px;
}

.figcaptionAside {
  padding: 0px 0 0 19px;
}

.divEtoileAside {
  margin-top: 40px;
}

/*...............section3 Activités à Marseille*/

#Activités {
  margin: 0;
}

.aHref-section3 {
  width: 100%;
  height: 150px;
}

.divArticle1-et-3 {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #0000002e;
}

.imgArticle1-et-3 {
  height: 95px;
}

.h3-section3 {
  font-weight: bold;
}

/*...........concerne les petites photos.......................*/

.div-DesPetites-Photos {
  height: 330px;
  order: 0;
  margin-bottom: 30px;
}

.div-petitePhoto1-petitePhoto4 {
  width: 100%;
  height: 150px;
}

.div-petitePhoto2-petitePhoto3 {
  height: 150px;
}

.img-petitePhoto1-petitePhoto4 {
  height: 95px;
}

.img-petitePhoto2-petitePhoto3 {
  height: 95px;
}

/*..............................................footer.......................................................*/

footer {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}

.aHref-footer {
  text-decoration: none;
  color: inherit;
}