body
{
    background-color:olive;
    width: 750px;
    height: 3150px;
  
    
}   
header
{
   
}  
.sectionRecherche
{
 

}

#Hébergements
{

    
    
  }
  
#divhébergement
{
   
  
}

.dimensionArticleHebergement
{

    
}

.figureSectionHebergement
{
    
}
.imgFigure
{
  
}


aside
{
   width: 690px;
   height: 620px;
}
 #div-H2-Aside
 {
    width: 663px;
    height: 30px;
  
}
 aside h2
{
  
}
.fa-chart-line
{
 
}  
 
 #div-Article-Aside
{
    width: 690px;
   height: 620px;
}

}

.dimensionArticleAside
{
    width: 625px;
    height: 145px;
 }


.figureAside
{
    width: 611px;
    height: 132px;
    
}
.imgAside
{  
    width: 202px;
    height: 132px;
 
}
.divEtoileAside
{
  
   
}
 
/*----section3--------------*/ 

#Activités
{
 

}
#div-DesArticle-Activités-à-Marseille 
{
  
}
.classHoverPhotos
{
  

}


.aHref-section3
{
  

}
.figureArticle1-et-3
{
 
 
  
}
.imgArticle1-et-3
{

}


.figcation-section3
{
  

}



/*...........concerne les petites photos.......................*/
.div-DesPetites-Photos,.figure-petitePhoto1-petitePhoto4,.figure-petitePhoto2-petitePhoto3,.img-petitePhoto1-petitePhoto4,.img-petitePhoto2-petitePhoto3
{

  
  }

.div-DesPetites-Photos
{
  

}
.figure-petitePhoto1-petitePhoto4
{

}
.figure-petitePhoto2-petitePhoto3
{
  
}
.img-petitePhoto1-petitePhoto4
{
 
}
.img-petitePhoto2-petitePhoto3
{
 
}
/*------------------footer---------------------*/
footer
{
   
   
}
#grandDivFooter
{
 

 
}
.divDesColones
{

 


}
ul ,footer span
{


}
