.dimensionArticleHebergement {
    width: 319px;
    margin-bottom: 50px;
}


.dimensionArticleAside {
    width: 319px;
   
}
.divArticle1-et-3 {
    width: 254px;
    
}
.div-DesPetites-Photos {
    width: 254px;
   
}
