body {

  width: 991px;



  margin: auto;
}
#bloc_page {
 
  
  
 
 }
 

h1 {
  font-size: 30px;
}

#Hebergements {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
}

#divhébergement {
  padding: 0 30px;
  margin-top: 30px;
}

.dimensionArticleHebergement {
  width: 395px;
  height: 201px;
  margin-bottom: 30px;
}

.imgFigure {
  width: 100%;
  height: 125px;
}

aside {
  padding: 0px 30px;
  margin-left: 0;
}

.dimensionArticleAside {
  width: 99%;
  height: 135px;

}

.imgAside {
  width: 275px;
  height: 135px;
}

.divEtoileAside {
  margin: 50px 0 0 0;
}

.invisible {
  display: none!important;
  /*invisible*/
}

/*----section3--------------*/

#Activités {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

#div-DesArticle-Activités-à-Marseille {
  display: flex;
  flex-wrap: wrap;
}

.aHref-section3 {
  width: 403px;
  height: 192px;
}

.divArticle1-et-3 {
  width: 403px;
  height: 192px;
}

.imgArticle1-et-3 {
  width: 100%;
  height: 132px;
}

/*...........concerne les petites photos.......................*/

.div-DesPetites-Photos {
  width:403px ;
  height: 414px;
  order: 2;
  margin-top: 30px;
}

.div-petitePhoto1-petitePhoto4 {
  width: 403px;
  height: 192px;
}

.div-petitePhoto2-petitePhoto3 {
  height: 192px;
}

.img-petitePhoto1-petitePhoto4 {
  width: 100%;
  height: 132px;
}

.img-petitePhoto2-petitePhoto3 {
  width: 100%;
  height: 132px;
}

/*------------------footer---------------------*/

footer {
  padding: 45px 0px 30px 80px;
  margin-bottom: 0;
}

footer div ul {
  line-height: 35px;
}