@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/raleway/Raleway-Regular.ttf');
}
* {
  font-family:'Raleway-Regular',sans-serif;
}


body {

 
 
 

  
  margin: auto;
 

}

#bloc_page {
  padding: 0 50px;
  max-width: 1500px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: initial;
}

#liHebergements {
  border-top: 3px solid #0065FC;
  padding: 25px 10px 0 10px;
  color: #0065FC;
}

#hoverNavActivites {
  padding: 0 40px;
}

#hoverNavActivites:hover {
  border-top: 3px solid #0065FC;
  padding-top: 25px;
  color: #0065FC;
}

#li-Inscription {
  color: #0065FC;
  padding-left: 10px;
  font-weight: bold;
}
#li-Inscription:hover {
  border-top: 3px solid #0065FC;
  padding-top: 25px;
  color: #0065FC;
}


/*...........................fin header................*/

/*...........................sectionRecherche...............*/

h1 {
  font-size: 23px;
  margin-bottom: 0;
}

h1+p {
  margin: 13px 0;
  font-size: 18px;


}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#barreDeRecherche {
  display: flex;
}

.fa-map-marker-alt {
  border: 0px solid #F2F2F2;
  border-radius: 13px 0 0 13px;
  background-color: #F2F2F2;
  padding: 15px 17px;
}

#inputSearch {
  width: 224px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: none;
  border-right: none;
  padding-left: 25px;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

#button {
  width: 137px;
  border: 0px solid #F2F2F2;
  background-color: #0065FC;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.invisible {
  display: none!important;
  /*invisible*/
}

#barreFiltre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
}

#filtresTitre {
  font-size: 1.5em;
  font-weight: bold;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
   
  
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 55px;
  padding: 19px;
  margin-right: 8px;


    /*  width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;*/
}
 .fa-child{
 
  padding: 19px 21px;
}


.rectangleFiltre {
  color: black;
  margin-left: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  font-weight: bold;
  padding-right: 15px;
 
 
}

.rectangleFiltre:hover {
  background-color: #F2F2F2;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 5px black;
  margin-top: 3px;
}

#Paragraphe-point-I {
  margin-bottom: 20px;
}

.fa-info {
  color: #0065FC;
  border: 1px solid silver;
  width: 18px;
  height: 17px;
  border-radius: 100%;
  padding: 6px;
  text-align: center;
  margin-right: 10px;
}

/* ........................corps de la page section Hébergement  ..................... */

#Hebergements {
  display: flex;
}

#divhébergement {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  padding: 0 20px;
}

#h2Section2 {
  
  margin: 25px 0 15px 0;
  
}

#divDesArticles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
 
}

.dimensionArticleHebergement {
  width: 284px;
  border-radius: 20px;
  background-color: white;
  padding: 4px;
  margin-bottom: 20px;
}

.aHref-de-section-ou-Aside {
  color: inherit;
  text-decoration: none;
}

.figureSectionHebergement {
  margin: 0px;
}

.imgFigure {
  height: 110px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.figcaptionSectionHebergement {
  margin: 0 0 0 8px;
}

h3 {
  font-size: 19px;
  margin: 0;
}

h3+p {
  margin: 5px 0 0 0px;
}

.divEtoile {
  margin: 5px 0 7px 0;
}

.star-on {
  color: #0065FC;
}

.star-off {
  color: #d9d9d9;
}

.spanEuros {
  font-weight: bold;
}

#aHref-afficherPlus {
  
  color: inherit;
  text-decoration: none;
  font-size: 17px;
  margin: 20px 0 36px 0;
}

/*........aside Hébergement................*/

aside {
  background-color: #F2F2F2;
  margin-left: 20px;
  border-radius: 25px;
  padding: 0 20px 12px 20px;
}

#div-H2-Aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}

.fa-chart-line {
  font-size: 24px;
}

#div-Article-Aside {
  display: flex;
  flex-direction: column;
}

.dimensionArticleAside {
  width: 402px;
    height: 140px;
    border-radius: 20px;
    background-color: white;
    padding: 4px;
    margin-bottom: 20px;
}

.figureAside {
  display: flex;
  align-items: center;
  margin: 0px;
}

.imgAside {
  width: 130px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.figcaptionAside {
  padding: 0px 0 0 8px;
}

.divEtoileAside {
  margin: 40px 0 0 0;
}

/*...............section3 Activités à Marseille    */

#Activités {
  margin: 40px 0 45px 0;
}

#div-DesArticle-Activités-à-Marseille {
  display: flex;
  justify-content: space-between;
}

.aHref-section3 {
  text-decoration: none;
  
 
  
}




.divArticle1-et-3 {
  width: 348px;
    height: 547px;
    border-radius: 15px;
  margin-right: 10px;
  background-color:white;
  box-shadow: 1px 1px 15px #0000002e;
  
}
#margin-left-grandePhoto2{
 margin-left:10px ;

}

.imgArticle1-et-3 {
  width: 100%;
  height: 485px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.h3-section3 {
  padding: 15px 0 0 25px;
  color: initial;
}


/*...........concerne les petites photos.......................*/

.div-DesPetites-Photos {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.div-petitePhoto1-petitePhoto4 {
  height: 290px;
  background-color:white;
  box-shadow: 1px 1px 15px #0000002e;
  border-radius: 15px;
  
}

.div-petitePhoto2-petitePhoto3 {
  height: 200px;
  background-color:white;
  box-shadow: 1px 1px 15px #0000002e;
  border-radius: 15px;
}

.img-petitePhoto1-petitePhoto4 {
  width: 100%;
  height: 228px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.img-petitePhoto2-petitePhoto3 {
  width: 100%;
  height: 138px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/*..............................................footer.......................................................*/

footer {
  padding: 45px 0px 0 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  max-width: 1550px;
  margin: auto;
}

.divDesColones {
  width: 370px;
}

.aHref-footer {
  text-decoration: none;
  color: inherit;
}

footer span {
  font-weight: bold;
  font-size: 1.17em;
}

footer div ul {
  padding-left: 0;
  list-style-type: none;
  line-height: 28px;
}