@font-face
 {
   font-family: 'Raleway-Black';
   src: url('fonts/raleway/Raleway-Black.ttf') ;
 
 } 


body
{

  font-family:'Raleway-Black',sans-serif;  
  
  
    width: 1500px;
    height: 3000px;    /*2000px;*/
   background-color: olive;
   margin: auto;
   

}
/*             MEDIA QUERIES*/
/* pour les petits écran moin de 1000px */  
 
@media screen and (max-width: 1300px)
{
   #bloc_page1_MediaQueries
   {
      background-color: seagreen;
      
  }
   
   #sectionHébergement
  {
    width: 1220px;
    height: 1000px;/*925*/
    display: flex;
    flex-direction: column-reverse;
    margin-top: 300px;
    background-color: rosybrown;
  } 
   #aside 
   {
  
    width: 1220px;
    height: 285px;
    background-color: #F2F2F2;
    
    border-radius: 25px ;   
    align-items: center;
   }
   #div-H2-Aside
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: sienna;
    width: 1220px;
    height: 80px;
    border-radius: 25px 25px 0 0 ;
}
   #div-Article-Aside
   {
    
    
    background-color: #0065FC; 
     
    width: 450px; 
    height: 550px;
  
   
 
  }


} 
  
/*       fin Media Queries             */
header
{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    
    
}

nav
{
    margin-right: 35px;
    margin-top: 30px;
    
  }
nav a
{
    margin-left: 35px;
    text-decoration: none;
    color: initial;
}
#navHebergement
{
  border-top: 3px solid #0065FC;
  padding-top: 25px;
  color:#0065FC; 
  
}
#activiteNav:hover
{

  border-top: 3px solid #0065FC;
  padding-top: 25px;
  color:#0065FC; 
  

}
#inscritionNav
{
  color:#0065FC; 
}

/*...........................fin header................*/
.sectionRecherche
{
   width: 1300px;
   height:300px;
   
}

#headerRecherche
{
display: block;

}

form
{
     
     display: block;
     
    
    

}
#barreDeRecherche
{
 display: flex;

}
.fa-map-marker-alt
{
    width:50px; 
    height: 50px;
    border: 0px solid #F2F2F2 ;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}     
   
#inputSearch
{
  width: 224px;
  height:50px;
  border: 0px solid silver ;
  background-color: white;
  text-align: center;
  
}
#button
{
    width: 137px;
    height:50px;
    border: 0px solid silver ;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px; 
    cursor: pointer;
   
    


}


#barreFiltre
{
width: 870px;
display: flex;
justify-content: space-between; 
align-items: center;
margin-top: 3em;


}
.fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog
{
    color:#0065FC; 
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    width: 20px;
    height: 20px;
    border-radius:100%;
    padding:10px;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    right: 6px;

}

.rectangleFiltre
{
      display: flex;
      align-items: center;
      text-align: center;
       color: black;
       margin-left: 20px;
       border: 1px solid silver ;
       border-radius: 18px;
       text-decoration: none;
       font-weight: bold;  
       padding-right: 15px;

}         
         
       
.fa-info
{
   color:#0065FC; 
   background-color:white;
   border: 1px solid silver;
   width: 18px;
   height: 17px;
   border-radius: 100%;
   padding:6px ;
   text-align: center;
   margin-right: 10px;
   
}
#le-point-I
{

  text-decoration: none;
  

}
       
 /* ........................corps de la page section Hébergement  ..................... */  

#sectionHébergement
{
   
   width: 1400px;
   height: 600px;
   display: flex;
   
 

}
#divhébergement
{
 
  width: 930px;
  height: 600px;
  background-color: #F2F2F2;
  display: flex;
 flex-direction: column;
  
  border-radius: 25px;  

  
}
#h2Section2
{
   width: 350px;
   height: 30px; 
   background-color: #F2F2F2;
   border-radius: 25px 0 0 0 ;   
   padding:  0px 0 0 28px; 
   position: relative;
   top: 10px;

  }
#divDesArticles
{

display: flex;
justify-content:space-around ;
flex-wrap: wrap;
align-items: center;
height: 480px;


}


.dimensionArticleHebergement
{
  border: 1px solid white;  
  border-radius: 20px;
  width: 255px;
  height: 200px;
   background-color:white;

}
.aHref-de-section-ou-Aside
{

  text-decoration: none;
}
.figureSectionHebergement
{
  display: flex;
  flex-direction: column;
  margin: 4px 4px 0px 4px ;
  
 

}


.imgFigure
{
   
   height: 110px;  
   width: 245px;
   max-width: 245px;
   object-fit:cover;/* définit la façon dont le contenu d'un élément remplacé (<img> ou <video>*/ 
   margin: 0px ;   
   border-radius: 15px 15px 0 0; 
   
}
.figcaptionSectionHebergement
{
   
   display: block;
   
   width: 245px;
   height: 80px;
   margin: 0 0 0 8px; 
   
}
 h3
{
    font-size: 1.2em;
    margin: 0;
    
} 
   
h3+p{
    
    
    font-size: 16px;
    margin: 5px 0 0 0px;
    
  
  }
  .divEtoile
  {
    margin: 5px 0 0 0px;
    
  }

  .fa-star
  {
        
   color: #0065FC;   
  }
  
  #aHref-afficherPlus
  {
   width: 250px;
   padding-left: 28px;
   margin-top: 7px;
   


  }
  /*........aside Hébergement................*/

  aside
  {
    width: 450px;
    height: 600px;
    background-color: #F2F2F2;
    margin-left: 35px;
    border-radius: 25px ;   
   
  }
   
#div-H2-Aside
{
   display: flex;
   justify-content: space-around;
    align-items:center;
    
    
    width: 450px;
    height: 70px;
    border-radius: 25px 25px 0 0 ;
    
  }
aside div h2
{
 
  margin-right: 80px;
  position:relative;
  top: 10px;;
}
.fa-chart-line
{
  font-size: 25px;  

  position:relative;
    top: 10px;;
}
#div-Article-Aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;/*en vertical au lieu de align content*/
    align-items: center;
    width: 450px;
    height: 530px;
 
    
    
}
#dimensionArticleAside
{
  width: 385px;
  height: 140px;
  border: 1px solid white;  
  border-radius: 20px;
  background-color: white;
   
}

.figureAside
{

  display: flex;
  height: 140px;
  align-items: center;
  margin: 0px 0px 0px 4px;
  
}
.imgAside
{
   object-fit: cover;
   width: 120px;        
   height: 130px; 
   border-radius: 15px 0 0 15px;
  
  
}
.figcaptionAside
{
   display: block;
   width: 220px;
   height: 130px;     
   padding:0px 0 0 9px; 
   
}
  aside figcaption h3
{
  
   margin-top: 3px;

} 
aside figcaption p 
{

  margin-top: 3px;
  

}
.divEtoileAside
{
   margin: 40px 0 0 0;
    

}

/*...............section3 Activités à Marseille    */

#section3-Activités-à-Marseille
{
   width: 1400px;
   height: 610px;
   display: flex;
   display: block;
   margin-bottom: 45px;

}
#divH2-Section3
{
  widows: 1400px;
  height: 30px; /*2em*/
 
  font-size: 15px;
}
#div-DesArticle-Activités-à-Marseille 
{
  width: 1400px;
  height: 580px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  

}
.aHref-section3
{
text-decoration: none;
 
}
.figureArticle1-et-3
{
  width: 320px; 
  height: 550px;
  
  background-color: white;
  border-radius: 15px ; 
  margin: 0;
  
  }
.imgArticle1-et-3
{
 width: 320px;
 height: 485px; 
 object-fit: cover;
 border-radius: 15px 15px 0 0;

}
.figcation-section3
{

background-color: white;
padding: 15px 0 0 30px;
font-weight: bold;
color: initial;

}




/*...........concerne les petites photos.......................*/

.div-DesPetites-Photos
{
  width: 320px; 
  height: 550px;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;/*en vertical au lieu de align content*/

}
.figure-petitePhoto1-petitePhoto4
{
   width:320px;
   height:290px; 
   background-color: white; 
   border-radius: 15px ;
   margin: 0;/*pour coller les photo dans la div-DesPetites-Photos*/
   
}
.figure-petitePhoto2-petitePhoto3
{
   width:320px;
   height:225px;
  background-color: white; 
  border-radius: 15px ;
  margin: 0; /*pour coller à div-DesPetites-Photos*/

}
.img-petitePhoto1-petitePhoto4
{
   width: 320px;
   height: 230px; 
   object-fit: cover;
   border-radius: 15px 15px 0 0;
   
}
.img-petitePhoto2-petitePhoto3
{

 width: 320px;
 height: 165px; 
 object-fit: cover;
 border-radius: 15px 15px 0 0;
 
}



/*..............................................footer.......................................................*/
footer
{

  width:1460px;
  height: 225px;
  display: block;
  background-color: #F2F2F2;
  margin-left:-30px;
}
#grandDivFooter
{
  
  width:1400px;
  height: 225px;
  margin: auto;
  display: flex;
  justify-content: space-between;
 
  
}

.divDesColones 
{
   
   height: 225px;
   width: 459px;
 
}

footer span
{
    font-weight: bold;
    
  
}
ul , footer span
{
   
    list-style-type:none;
   
    padding-left: 32px;  
    position: relative;
    top: 32px;
    line-height: 28px;
}   
